# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\dvdnss\PycharmProjects\TCHAI-DAVID-NAISSE-BENJAMIN-SCORDEL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
